/*css para tags html e body*/
html, body{
    margin: 0;
    padding: 0;
}
/*css para header*/
header {
    width: 100%;
    height: 200px;
    background: #636e72;
}

h1 {
  color: green;
}
h2 {
  color: green;
}
